{% extends "base.html" %}  <!-- Extend the base template -->

{% block content %}
    <div class="form-box">
        <h2>Login</h2>
        <form method="post">  <!-- Form to handle login -->
            <label>Username:</label>
            <input type="text" name="username" required>  <!-- Username input -->

            <label>Password:</label>
            <input type="password" name="password" required>  <!-- Password input -->

            <button type="submit">Login</button>  <!-- Submit button -->
        </form>
        <p class="auth">
            Don't have an account? <a href="{{ url_for('register') }}" class="auth-link">Register here</a>  <!-- Link to registration page -->
        </p>
    </div>
{% endblock %}
